//
// Image //
//
img {
	width: auto;
	max-width: 100%;
	height: auto;
	&[class*='img-mask-avatar'] {
		border-radius: 50%;
	}
	&.img-mask-avatar-sm {
		min-width: 70px;
		width: 70px;
		height: 70px;
	}
	&.img-mask-avatar-md {
		min-width: 90px;
		width: 90px;
		height: 90px;
	}
	&.img-mask-avatar-lg {
		min-width: 110px;
		width: 110px;
		height: 110px;
	}
}